.Header1{
    color: rgb(255, 0, 0);
    font-size: 30px;
    border: 5px solid red;
}
.Text0{
    text-align: center;
}
.Text1{
    color: red;
    text-align: center;
    font-size: 30px;
}
